body {
  margin: 0 auto;
}

body > nav {
  font-family: Cinzel, serif;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: calc(10% / 6);
  font-size: 2rem;
  border-bottom: 0.5px solid rgb(165, 165, 165);
  padding: 1.2rem 0 1.2rem 0;
  width: 30%;
}

img {
  width: 30%;
  height: 30%;
  display: inline-flex;
  margin: calc(10% / 6);
}

/* img:hover {
  padding-bottom: 3px;
  border-bottom: 0.5px solid rgb(82, 82, 82);
} */
